{% extends "layouts/base.html" %}
{% block title %}Admin{% endblock title %}
{% block content %}
<section style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1rem;">
    <div style="display: flex; flex-direction: column; gap: 1.5rem;">
        <h1 style="text-align: center;">Admin</h1>
        {% if user and user.admin %}
            {% include "components/admin/user_list.html" %}
            {% include "components/admin/pending_list.html" %}
            <form hx-post="{{ site_url }}/api/backup/clone">
                <fieldset>
                    <legend>Clone instance</legend>
                    <label>
                        <span>Primary Instance URL</span>
                        <input name="instance_url" required placeholder="https://olmonoko.example.com" />
                    </label>
                    <label>
                        <span>Session ID</span>
                        <input name="session_id" required />
                    </label>
                    <button style="width:auto;align-self:end;" class="btn variant-danger" type="submit">Clone</button>
                </fieldset>
            </form>
        {% else %}
            <p style="text-align: center;">You are not authorized to view this page.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}
