{% extends "layouts/base.html" %}
{% block title %}Calendar{% endblock title %}
{% block content_nav %}
{% if link_owner %}
    <div id="shared-calendar-notice">
        <p class="btn border-only variant-brand" style="flex: 1; color: inherit;">
            Viewing calendar of {{ link_owner.email }}
        </p>
        <div style="display: flex; gap: 0.5rem;">
            <a class="btn" href="https://www.google.com/calendar/render?cid={{ site_url }}/api/export/{{ link_id }}.ics">
                Google Calendar
            </a>
            <a class="btn" href="{{ site_url|replace(from='http://', to='https://')|replace(from='https://', to='webcal://') }}/api/export/{{ link_id }}.ics">
                other calendars
            </a>
        </div>
        <button
            id="copy-export-link-{{ link_id }}"
            class="btn"
            title="Copy Link"
            onclick="navigator.clipboard.writeText('{{ site_url }}/api/export/{{ link_id }}.ics');document.querySelector('#copy-export-link-{{ link_id }}').innerHTML = 'Link Copied!';"
        >
            .ics
        </button>
    </div>
{% endif %}
{% if user or link_owner %}
    <div id="top-menu">
        <div id="top-menu-left">
            {% set reset_link = site_url ~ path ~ "#today" %}
            <a id="calendar-reset" class="btn variant-tertiary" href="{{ reset_link | safe }}">
                Reset
            </a>
            <p style="font-variant-numeric: tabular-nums;">
                Year: {{ selected_year }}
                Week: {{ selected_week }}
            </p>
            <div id="calendar-nav">
                <a
                    id="week-prev"
                    class="btn"
                    href="{{ site_url ~ path | safe }}?year={{ prev_year }}&week={{ prev_week }}"
                    hx-on:click="this.outerHTML = `<button class=\'btn\' disabled>${this.innerHTML}</button>`"
                >
                    Prev
                </a>
                <a
                    id="week-next"
                    class="btn"
                    href="{{ site_url ~ path | safe }}?year={{ next_year }}&week={{ next_week }}"
                    hx-on:click="this.outerHTML = `<button class=\'btn\' disabled>${this.innerHTML}</button>`"
                >
                    Next
                </a>
            </div>
        </div>
        {% if not link_owner %}
            <div id="top-menu-right">
                <p>
                    Calendar view
                </p>
                <a href="{{ site_url | safe }}/timeline">
                    Timeline view
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock content_nav %}
{% block content %}
<style>
    :root {
        --ribbon-i-padding-x:  1em;
        --ribbon-i-padding-y: .5em;
    }
    #page-home {
        overflow-x: auto;
        flex: 1;

        & #no-events-found {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 200px;
        }
    }
    #shared-calendar-notice {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: .5rem;
    }
    #top-menu {
        display: flex;
        flex-wrap: wrap;

        & > #top-menu-left {
            flex: 1;
            padding: .5rem;

            min-width: min(100vw, 400px);
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & > #top-menu-right {
            display: flex;
            gap: 1rem;
            padding: .5rem;
        }
    }
    .ribbon > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > li {
            display: contents;

            /* &.selected > * { */
            /*     background-color: var(--primary); */
            /*     color: var(--surface); */
            /* } */

            & > * {
                flex: 1;
                text-align: center;
                padding: var(--ribbon-i-padding-y) var(--ribbon-i-padding-x);
            }
        }
    }
    #ribbon-reset {
        background-color: var(--tertiary);
        color: var(--surface);
    }
    #calendar-nav {
        display: flex;
        gap: .5rem;

        & > * {
            display: block;
        }
    }

    tr:target {
        outline: 1px solid var(--primary);
        background: var(--surface-variant);
    }
</style>
{% include "components/calendar/week.html" %}
<section id="page-home">
    {% if user and not link_owner %}
        {% if events %}
            <table>
            <tr>
                <th>P</th>
                <th>Source</th>
                <th>What</th>
                <th>When</th>
                <th>What</th>
                <th>Where</th>
                <th>Attachments</th>
            </tr>
            {% for event in events %}
            <tr id="event{{ event.id | json_encode }}">
                <td ><div style="display:flex;justify-content:center;align-items:center;">{{ event.priority|default(value=' ') }}</div></td>
                <td>
                    {% if event.source.type == "Remote" %}
                        <a href="{{ site_url }}/remote/sources/{{ event.source.source_id }}">Remote</a>
                    {% else %}
                        <p>Local</p> 
                    {% endif %}
                </td>
                <td>
                    {{ event.summary }}
                </td>
                <td>
                    {{ event.starts_at_human }}
                    {% if event.duration_human %}
                        for
                        {{ event.duration_human }}
                    {% endif %}
                </td>
                <td>
                    <iframe class="escaped-content" srcdoc="<link rel='stylesheet' href='/static/css/base.css' />{{ event.description | default(value="no description") | replace(from="\n", to="<br>") | linebreaksbr | escape | safe }}" width=600 allowtransparency="true"></iframe>
                </td>
                <td>
                    {{ event.location }}
                </td>
                <td>
                    {% if event.source.type == "Remote" %}
                        {% if event.linked_events %}
                            {{ event.linked_events }}
                        {% else %}
                            <a href="{{ site_url | safe }}/local?from_occurrence={{ event.occurrence_id }}"> Create a linked local event </a>
                        {% endif %}
                    {% endif %}
                    {% if event.source.type == "Local" %}
                        TODO
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
            <p id="no-events-found">No events found</p>
        {% endif %}
    {% endif %}
</section>
{% endblock content %}
