{% extends "layouts/base.html" %}
{% block title %}Local events{% endblock title %}
{% block content %}
<section id="partial-local-events" style="">
    <div style="display: flex; gap: 2.5rem; flex-wrap: wrap; justify-content: center; width: 100%;">
        <div style="flex: 1;">
            <h1 style="margin-bottom:1rem; font-size:2em;">Local Events</h1>
            {% if events_grouped_by_priority %}
                <h2 style="margin-top:-1rem;margin-bottom:1rem; font-size:1.5em;">Grouped by priority</h2>
            {% endif %}
            {% if events and filter_query %}
                <h3 style="margin-top:-1rem;margin-bottom:1rem; font-size:1.5em;">Filtered by '{{ filter_query }}'</h3>
            <form action="{{ site_url | safe }}/api/event/local/delete?{{ filter_query }}" method="post">
                <button type="submit" style="margin-top:1rem;">Delete selected</button>
            </form>
            {% endif %}
            <ul class="local-event-list">
                {% if not events %}
                    <li>No events – yet</li>
                    <p>Local events are events that are not fetched from any external source. They are stored on this server and can only be modified by you. </p>
                {% endif %}
                {% for tuple in events_grouped_by_priority %}
                    {% set priority = tuple[0] %}
                    {% set events = tuple[1] %}
                    <details open>
                        <summary style="margin-top:1rem;margin-bottom:1rem; font-size:1.2em;cursor:pointer;">
                            <h3 style="display:inline;">
                                {% if priority %}
                                    Priority {{ priority }}
                                {% else %}
                                    Default priority
                                {% endif %}
                            </h3>
                        </summary>
                        {% for event in events %}
                            <li style="display: flex; gap: 0.5em; flex-wrap: wrap;justify-content: center;" id="local-event-{{ event.id }}">
                                <p href="{{ site_url | safe }}/local/{{ event.id }}" style="flex: 1; min-width: 300px">{{ event.summary }}</p>
                                <div class="item-details">
                                    <span>
                                    {% if event.all_day %}
                                        All day
                                    {% endif %}
                                    {{ event.starts_at }}
                                    </span>
                                    <a href="{{ site_url | safe }}/local?selected={{ event.id }}">Edit</a>
                                </div>
                            </li>
                        {% endfor %}
                    </details>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% include 'components/local/event.html' %}
            {% if not selected %}
            {% include 'components/local/new_bill_from_barcode.html' %}
            {% endif %}
        </div>
    </div>
</section>
<style>
    #partial-local-events {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 1rem;

        & .item-details {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
        }
        & .local-event-list {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
</style>
{% endblock content %}
