@import url("./fonts.css");

:root {
  view-transition-name: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#slab {
  scroll-behavior: smooth;
}

/* Use montserrat for headings and roboto for body text */

body {
  font-family: "Cantarell", "Segoe UI", "Roboto", sans-serif;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Montserrat Hosted", sans-serif;
  font-display: swap;
}

/* Old Light theme colors */
/* :root { */
/* 	--color-scheme: light; */
/* 	--surface: #f5f5f5; */
/* 	--contrast: #1c1c1c; */
/* 	--primary: #ff6f61; */
/* 	--secondary: #ffcc5c; */
/* 	--tertiary: #ffeead; */
/* } */

/* Dark theme colors */
:root {
  --color-scheme: dark;
  --surface: #1d2021;
  --surface-variant: #282828;
  --contrast: #ebdbb2;
  --primary: #689d6a;
  --secondary: #d3869b;
  --tertiary: #83a598;
  --brand: #aa4400;
  --danger: #fb4934;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
    --surface-variant: #f9f5d7;
    --surface: #fffae5;
    --contrast: #3c3836;
    --primary: #096245;
    --secondary: #8f3f71;
    --tertiary: #076678;
    --brand: #aa4400;
    --danger: #9d0006;
  }
}

body {
  background-color: var(--surface);
  color: var(--contrast);
  color-scheme: var(--color-scheme);
  accent-color: var(--primary);
}

#flash {
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--surface);
  text-align: center;
}

#flash.variant-error {
  background-color: var(--danger);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

.btn {
  --variant-color: var(--primary);
  --variant-contrast: var(--surface);
  background-color: var(--variant-color);
  color: var(--variant-contrast);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;

  text-decoration: none !important;
  text-align: center;

  border: 1px solid var(--variant-color);
}

.btn:disabled {
  filter: grayscale(1);
}

.btn.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.btn.variant-danger {
  --variant-color: var(--danger);
}

.btn.variant-tertiary {
  --variant-color: var(--tertiary);
}

.btn.variant-plain {
  background-color: transparent;
  color: inherit;
}

.btn.border-only {
  background-color: transparent;
  color: var(--variant-color);
}

summary.btn {
  width: fit-content;
  /* border-only */
  background-color: transparent;
  color: var(--primary);

  transition-duration: 200ms;
  transition-property: border-bottom-left-radius, border-top-right-radius;
}

summary.btn::marker {
  content: none;
}

summary.btn::-webkit-details-marker {
  display: none;
}

details[open] > summary.btn {
  /* negate border-only */
  background-color: var(--variant-color);
  color: var(--variant-contrast);

  /* blend in with the detail's border */
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

details:has(> summary.btn) {
  border: 1px solid transparent;
  border-radius: 0.33rem;
}

details:has(> summary.btn),
details:has(> summary.btn) > *:not(summary) {
  transition-behavior: allow-discrete;
  transition: all 200ms;
}

details[open]:has(> summary.btn) {
  border: 1px solid var(--primary);
}

li {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

fieldset {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid color-mix(in srgb, var(--contrast) 20%, transparent 80%);
  background: var(--surface-variant);
  border-radius: 0.5rem;
}

summary {
  cursor: pointer;
}

select {
  padding: 0.1rem 0.25rem;
}

label {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

label > span {
  flex: 1;
}

table,
th,
td {
  border: 1px solid color-mix(in srgb, var(--contrast) 20%, transparent 80%);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
}

/* Layout */

body {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

#slab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--surface-variant);
  color: var(--contrast);
  padding: 1rem;
}

footer {
  background-color: var(--surface-variant);
  color: var(--contrast);
  padding: 2rem;
}

iframe.escaped-content {
  border: none;
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: contents;
  }
}

.mobile-only {
  display: contents;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Loading */
#anything-loading {
  visibility: hidden;
  font-size: 1.5rem;
}

.htmx-request #anything-loading,
.htmx-request#anything-loading {
  visibility: visible;
}

.loading-bar {
  width: 100%;
  height: 5px;
  margin-bottom: -5px;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: none;
}

.htmx-request .loading-bar,
.htmx-request.loading-bar {
  transform: scaleX(1);
  transition: transform 5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}

#slab {
  filter: none;
  opacity: 1;
  scale: 1;
  transition: none;
}

.htmx-request #slab,
.htmx-request#slab {
  filter: grayscale(0.7);
  opacity: 0.7;
  scale: 0.975;
  transition-property: filter, opacity, scale;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 2s;
  transition-delay: 0.5s;
}

/* VIM keybindings */
#vk_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-inline: 4px;
  padding-block: 2px;
  min-height: 5px;
  z-index: 1000;
  display: none;
  gap: 1em;

  font-family: monospace;
  font-size: 20px;
  white-space: preserve-spaces;

  background: var(--secondary);
  color: var(--surface);

  &.open {
    display: flex;
  }
}

#vk_mode {
  text-transform: uppercase;
}

#vk_buffer {
  flex: 1;
}
