<div class="partial-data-source">
    <a class="btn border-only" href="{{ site_url }}/remote#source-{{ source.id }}" style="width:fit-content;"><span style="view-transition-name: page-title;">Back to source list</span></a>
    <h2>iCalendar data source</h2>
    <h1>
        <span style="view-transition-name: source-name-{{ source.id }}">{{ source.name }}</span>
    </h1>
    <span>
        <span style="view-transition-name: source-ec-{{ source.id }}">{{ event_count }} events</span>
        <span style="view-transition-name: source-oc-{{ source.id }}">with {{ occurrence_count }} occurrences</span>
    </span>
    <div style="view-transition-name: source-details;">
    <p><b>URL</b>: {{ source.url }}</p>
    <p><b>Created</b>: {{ source.created_at }}</p>
    {% if source.is_public %}
        <p>This data source is <b>public.</b> Anyone is allowed to add it to their calendar.</p>
    {% else %}
        <p>This data source is <b>private</b>.</p>
    {% endif %}
    {% if user and source.user_id == user.id %}
        {% include 'components/data_source/persist_setting.html' %}
        {% include 'components/data_source/all_as_allday_setting.html' %}
        {% include 'components/data_source/import_template_setting.html' %}
    {% endif %}
    <hr />
    <p><b>Last Synced</b>: {{ source.last_fetched_at }}</p>
    <p><b>File Hash</b>: <code>{{ source.file_hash|default(value = "not calculated yet") }}</code></p>
    <p><b>Object Hash</b>: <code>{{ source.object_hash|default(value = "not calculated yet") }}</code></p>
    {% if user %}
        <form action="/api/source/{{ source.id }}/sync" method="POST">
            <button id="sync-{{ source.id }}" type="submit" class="btn">Sync</button>
        </form>
    {% endif %}
    <div>
</div>

<style>
    .partial-data-source {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: .5em;

        & h1 {
            font-size: 2em;
        }

        & h2 {
            font-weight: 400;
        }
    }
</style>
