<div class="partial-data-source">
    <a class="btn border-only" href="{{ site_url }}/remote#source-{{ source.id }}" style="width:fit-content;">Back to source list</a>
    <h2>iCalendar data source</h2>
    <h1
        style="view-transition-name: source-name-{{ source.id }};"
    >{{ source.name }}</h1>
    <p><b>url</b>: {{ source.url }}</p>
    <p><b>Created</b>: {{ source.created_at }}</p>
    {% if source.is_public %}
    <p>This data source is <b>public.</b> Others are allowed to add it to their calendars.</p>
    {% else %}
    <p>This data source is <b>private</b>.</p>
    {% endif %}
    {% if user and source.user_id == user.id %}
    {% include 'components/data_source/persist_setting.html' %}
    {% include 'components/data_source/all_as_allday_setting.html' %}
    {% include 'components/data_source/import_template_setting.html' %}
    {% endif %}
    <hr />
    <p><b>Last synced</b>: {{ source.last_fetched_at }}</p>
    <span>
        <span style="view-transition-name: source-ec-{{ source.id }}">{{ event_count }} events</span>
        <span style="view-transition-name: source-oc-{{ source.id }}">with {{ occurrence_count }} occurrences</span>
    </span>
    {% if user %}
    <form action="/api/source/{{ source.id }}/sync" method="POST">
        <button id="sync-{{ source.id }}" type="submit" class="btn">Sync</button>
    </form>
    {% endif %}
</div>

<style>
    .partial-data-source {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: .5em;

        & h1 {
            font-size: 2em;
        }

        & h2 {
            font-weight: 400;
        }
    }
</style>
