{% set advanced_open = (filter.before is defined and filter.before != "") or (filter.after is defined and filter.after != "") or filter.tags != "" or filter.exclude_tags != "" %}
<details
	style="view-transition-name: event-filter;"
	{% if filter_set == true %}
		open
	{% endif %}
>
	<summary class="btn icon" title="Filter Events">
		{% if filter_set == true %}
			<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor"><path d="M470.77-200q-13.15 0-21.96-8.81T440-230.77v-223.08L224.15-726.77q-8.07-10.77-2.19-22Q227.85-760 240.77-760h478.46q12.92 0 18.81 11.23 5.88 11.23-2.19 22L520-453.85v223.08q0 13.15-8.81 21.96T489.23-200h-18.46Z"/></svg>
		{% else %}
			<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor"><path d="M470.77-200q-13.15 0-21.96-8.81T440-230.77v-223.08L224.15-726.77q-8.07-10.77-2.19-22Q227.85-760 240.77-760h478.46q12.92 0 18.81 11.23 5.88 11.23-2.19 22L520-453.85v223.08q0 13.15-8.81 21.96T489.23-200h-18.46ZM480-468l198-252H282l198 252Zm0 0Z"/></svg>
		{% endif %}
	</summary>
	<form method="GET" action="{{ site_url }}{{ path }}" style="width: fit-content;">
		<fieldset>
			<legend>Filter Events</legend>
			<label>
				<span>
					Summary:
				</span>
				<input type="text" name="summary_like" value="{{ filter.summary_like }}">
			</label>
			<span>
				Priority
				<label>
					<span>
						Min:
					</span>
					<input type="number" name="min_priority" value="{{ filter.min_priority }}">
				</label>
				<label>
					<span>
						Max:
					</span>
					<input type="number" name="max_priority" value="{{ filter.max_priority }}">
				</label>
			</span>
			<details
				{% if advanced_open %}
					open
				{% endif %}
			>
				<summary>Advanced</summary>
				{% if filter.before is defined %}
					<label>
						<span>
							Before (unix timestamp):
						</span>
						<input type="number" name="before" value="{{ filter.before }}">
					</label>
				{% endif %}
				{% if filter.after is defined %}
					<label>
						<span>
							After (unix timestamp):
						</span>
						<input type="number" name="after" value="{{ filter.after }}">
					</label>
				{% endif %}
				<label>
					<span>
						Tags (comma separated):
					</span>
					<input type="text" name="tags" value="{{ filter.tags }}">
				</label>
				<label>
					<span>
						Exclude Tags (comma separated):
					</span>
					<input type="text" name="exclude_tags" value="{{ filter.exclude_tags }}">
				</label>
			</details>
			<button type="submit" class="btn">Filter</button>
		</fieldset>
	</form>
</details>
